<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to image_tag("/app/assets/images/milliways_logo.png "), root_path, class:"navbar-brand" %>
        <img alt="Milliways" src="...">
      </a>
    </div>
  </div>
</nav>

<%= link_to 'Menus', home_menus_path %>
<%= link_to 'Tour', home_tour_path %>
<%= link_to 'About', home_about_path %>
<%= link_to 'Visit Us', home_tour_path %>
